<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Vue 表单</title>
</head>
<body>
<div id="app">
  <input v-model="message" placeholder="edit me">
  <p>Message is: {{ message }}</p>

  <span>Multiline message is:</span>
  <p style="white-space: pre-line;">{{ message }}</p>
  <br>
  <textarea v-model="message" placeholder="add multiple lines"></textarea>

  <input type="checkbox" id="checkbox" v-model="checked">
  <label for="checkbox">{{ checked }}</label>
</div>
<div id='example-3'>
  <input type="checkbox" id="jack" value="Jack" v-model="checkedNames">
  <label for="jack">Jack</label>
  <input type="checkbox" id="john" value="John" v-model="checkedNames">
  <label for="john">John</label>
  <input type="checkbox" id="mike" value="Mike" v-model="checkedNames">
  <label for="mike">Mike</label>
  <br>
  <span>Checked names: {{ checkedNames }}</span>
</div>
<div id="example-4">
  <input type="radio" id="one" value="One" v-model="picked">
  <label for="one">One</label>
  <br>
  <input type="radio" id="two" value="Two" v-model="picked">
  <label for="two">Two</label>
  <br>
  <span>Picked: {{ picked }}</span>
</div>
<div id="example-5">
  <select v-model="selected">
    <option disabled value="">请选择</option>
    <option>A</option>
    <option>B</option>
    <option>C</option>
  </select>
  <span>Selected: {{ selected }}</span>
</div>
<script src="js/vue.js"></script>
<script>
var vm = new Vue({
  el: '#app',
  data: {
    message: '',
    checked: true
  },
  methods: {

  }
})
  var example3 = new Vue({
    el: '#example-3',
    data: {
      checkedNames: []
    }
  })
var example4 = new Vue({
  el: '#example-4',
  data: {
    picked: ''
  }
})
var example5 = new Vue({
  el: '#example-5',
  data: {
    selected: ''
  }
})
</script>
</body>
</html>
