<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Vue 组件</title>
  <style>
    .demo-alert-box {
      width: 100%;
      height: 30px;
      line-height: 30px;
      background: lightcoral;
    }
    .button {
      width: 150px;
      height: 80px;
      line-height: 80px;
      text-align: center;
      border: 1px solid black;
    }
    .button.active {
      background: green;
    }
    .componentC {
      width: 450px;
      height: 200px;
      background:lightcoral;
      text-align: center;
      line-height: 200px;
    }
  </style>
</head>
<body>
<div id="app">
  <button-counter></button-counter>
  <button-counter></button-counter>
  <button-counter></button-counter>
</div>
<div id="blog-posts-events-demo">
  <div :style="{ fontSize: postFontSize + 'em' }">
    <blog-post
            v-on:enlarge-text="onEnlargeText"
            v-for="post in posts"
            v-bind:key="post.id"
            v-bind:post="post"
    ></blog-post>
  </div>
  <custom-input v-model="searchText"></custom-input>
  <p>{{searchText}}</p>


  <alert-box>
    slot slot slot.
  </alert-box>
</div>
<div id="tab-app">
  <button v-for="tab in tabs"
          v-bind:key="tab"
          v-bind:class="['button', {active: currentTab === tab}]"
          v-on:click = "currentTab = tab"
  >{{tab}}
  </button>

  <component v-bind:is="currentTabC"
             class="componentC"
  ></component>
</div>
<script src="js/vue.js"></script>
<script>
  Vue.component('alert-box', {
    template: `
      <div class="demo-alert-box">
        <strong>Error!</strong>
        <slot></slot>
      </div>
    `
  })
  Vue.component('button-counter', {
    data: function () {
      return {
        count: 0
      }
    },
    template: '<button v-on:click="count++">You clicked me {{ count }} times.</button>'
  })
  Vue.component('blog-post', {
    props: ['post'],
    template: `
    <div class="blog-post">
      <h3>{{ post.title }}</h3>
      <button v-on:click="$emit('enlarge-text', 0.1)">
        Enlarge text
      </button>
      <div v-html="post.content"></div>
    </div>
  `
  })
  Vue.component('custom-input', {
    props: ['value'],
    template: `
    <input
      v-bind:value="value"
      v-on:input="$emit('input', $event.target.value)"
    >
    `
  })
  Vue.component('tab-Home', {
    template: `
    <div>Home C</div>
    `
  })
  Vue.component('tab-Post', {
    template: `
    <div>Post C</div>
    `
  })
  Vue.component('tab-Active', {
    template: `
    <div>Active C</div>
    `
  })

  var vm = new Vue({
    el: '#app'
  })
  var vm1 = new Vue({
    el: '#blog-posts-events-demo',
    data: {
      posts: [
        {id : '1', title: '1111111'},
        {id : '2', title: '2222222'},
        {id : '3', title: '3333333'},
        {id : '4', title: '4444444'},
      ],
      postFontSize: 1,
      searchText: '1212'
    },
    methods: {
      onEnlargeText(enlargeAmount) {
        this.postFontSize += enlargeAmount
      }
    }
  })
  var app = new Vue({
    el: '#tab-app',
    data: {
      tabs: ['Home', 'Post', 'Active'],
      currentTab: 'Home'
    },
    computed: {
      currentTabC() {
        return 'tab-'+this.currentTab
      }
    }
  })
</script>
</body>
</html>
