<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>prop</title>
  <style>

  </style>
</head>
<body>
<div id="app">
  <blog-post :title="post.title+' by '+post.author.name"
             :likes="42"
             :is-published="publish"
             :comment-ids="post.commentIds"
             v-bind="post"
             :author="post.author"
             class="newClass"
  ></blog-post>

</div>
<script src="../js/vue.js"></script>
<script>
  Vue.component('blog-post', {
    inheritAttrs: false,
    props: {
        title: String,
        likes: Number,
        isPublished: {
          type: Boolean
        },
        commentIds: Array,
        author: Object,
        callback: Function,
        contactsPromise: Promise // or any other constructor
    },
    template: `<div class="active"><h3>{{ title }} {{likes}}</h3>
              <p v-bind="$attrs" v-if="isPublished">{{ isPublished }}</p>
              <b v-for="item in commentIds">{{item}} </b>
              <p>{{author.name}}: {{author.age}}</p>
              </div>`
  })
  var vm = new Vue({
    el: '#app',
    data: {
      obj: {
        a: 1
      },
      publish: true,
      post: {
        title: 'title',
        author: {
          name: 'Jack',
          age: 27
        },
        commentIds: ['a', '12', '2', 'v']
      }
    }
  })
</script>
</body>
</html>
